In [163]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler as sc

In [164]:
db_b=pd.read_csv(r"C:\Users\laksh\NIDS_Prediction\Total_CSVs\benign.csv")
db_m=pd.read_csv(r"C:\Users\laksh\NIDS_Prediction\Total_CSVs\malicious.csv")

In [165]:
db_b.columns

Index(['SourceIP', 'DestinationIP', 'SourcePort', 'DestinationPort',
       'TimeStamp', 'Duration', 'FlowBytesSent', 'FlowSentRate',
       'FlowBytesReceived', 'FlowReceivedRate', 'PacketLengthVariance',
       'PacketLengthStandardDeviation', 'PacketLengthMean',
       'PacketLengthMedian', 'PacketLengthMode', 'PacketLengthSkewFromMedian',
       'PacketLengthSkewFromMode', 'PacketLengthCoefficientofVariation',
       'PacketTimeVariance', 'PacketTimeStandardDeviation', 'PacketTimeMean',
       'PacketTimeMedian', 'PacketTimeMode', 'PacketTimeSkewFromMedian',
       'PacketTimeSkewFromMode', 'PacketTimeCoefficientofVariation',
       'ResponseTimeTimeVariance', 'ResponseTimeTimeStandardDeviation',
       'ResponseTimeTimeMean', 'ResponseTimeTimeMedian',
       'ResponseTimeTimeMode', 'ResponseTimeTimeSkewFromMedian',
       'ResponseTimeTimeSkewFromMode',
       'ResponseTimeTimeCoefficientofVariation', 'Label'],
      dtype='object')

In [166]:
db = db_b.append(db_m,ignore_index = True)

In [167]:
db.fillna('',inplace = True)

In [168]:
db=db.sample(frac=1)

In [169]:
db.head()

,SourceIP,DestinationIP,SourcePort,DestinationPort,TimeStamp,Duration,FlowBytesSent,FlowSentRate,FlowBytesReceived,FlowReceivedRate,...,PacketTimeCoefficientofVariation,ResponseTimeTimeVariance,ResponseTimeTimeStandardDeviation,ResponseTimeTimeMean,ResponseTimeTimeMedian,ResponseTimeTimeMode,ResponseTimeTimeSkewFromMedian,ResponseTimeTimeSkewFromMode,ResponseTimeTimeCoefficientofVariation,Label
258520,192.168.20.209,9.9.9.11,49718,443,2020-03-31 01:29:07,33.182470,1807,54.456465,4897,147.577923,...,1.639028,0.000059,0.007664,0.010974,0.016221,0.000025,-2.053974,1.428732,0.698327,Malicious
173476,192.168.20.205,9.9.9.11,60032,443,2020-03-30 22:25:49,33.334329,1807,54.208381,4896,146.875613,...,1.643334,0.000052,0.007219,0.010374,0.01541,0.000084,-2.093002,1.425442,0.695856,Malicious
91894,192.168.20.204,9.9.9.11,42128,443,2020-03-25 17:11:41,72.112417,121457,1684.273043,237250,3290.002053,...,0.576819,0.000024,0.004891,0.017059,0.015515,0.015322,0.947194,0.355189,0.286724,Malicious
2969,8.8.8.8,192.168.20.111,443,56716,2019-12-13 20:12:28,40.938354,23295,569.026297,13828,337.776160,...,0.127215,0.105492,0.324795,0.089770,0.000389,0.000003,0.825571,0.276380,3.618083,Benign
257094,192.168.20.210,9.9.9.11,43966,443,2020-03-20 08:30:07,120.048962,319194,2658.865139,529086,4407.251768,...,0.581831,0.000090,0.009491,0.016578,0.015396,0.015306,0.373456,0.133968,0.572536,Malicious

In [170]:
db.to_csv(r'C:\Users\laksh\NIDS_Prediction\Total_CSVs\datase_db.csv')

In [171]:
db_b.shape

(19807, 35)

In [172]:
db_m.shape

(249836, 35)

In [173]:
db.shape

(269643, 35)

In [174]:
db['SourceIP'].value_counts()

192.168.20.144     63876
192.168.20.204     24239
1.1.1.1            17593
8.8.4.4            16027
192.168.20.205     14772
192.168.20.207     14601
192.168.20.206     14521
192.168.20.208     14461
192.168.20.209     14454
192.168.20.211     14209
192.168.20.210     14130
192.168.20.212     13488
192.168.20.111     10982
176.103.130.130     8705
9.9.9.11            5760
192.168.20.191      3402
192.168.20.113      2132
8.8.8.8             1338
192.168.20.112       890
9.9.9.9               48
176.103.130.131       15
Name: SourceIP, dtype: int64

In [175]:
freq=['192.168.20.144','192.168.20.204','1.1.1.1','8.8.4.4','192.168.20.205','192.168.20.207']

In [176]:
for i in range (0,len(db)):
    if(db['SourceIP'][i] not in freq):
        db['SourceIP'][i]='not_freq'
ip_dummies = pd.get_dummies(db['SourceIP'])
ip_dummies = ip_dummies.rename(columns = {"192.168.20.144":"ip_144","192.168.20.204":"ip_204","1.1.1.1":"ip_1","8.8.4.4":"ip_8", "192.168.20.205":"ip_205", "192.168.20.207":"ip_207"})

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/2050499730.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['SourceIP'][i]='not_freq'

In [183]:
ip_dummies.head()

        ip_1  ip_144  ip_204  ip_205  ip_207  ip_8  not_freq
258520     0       0       0       0       0     0         1
173476     0       0       0       1       0     0         0
91894      0       0       1       0       0     0         0
2969       0       0       0       0       0     0         1
257094     0       0       0       0       0     0         1

In [184]:
db_create=ip_dummies

In [185]:
db['DestinationIP'].value_counts()

9.9.9.11           150932
not_dest_freq       52567
dest_ip_130_1_8     40100
8.8.4.4             26044
Name: DestinationIP, dtype: int64

In [186]:
freq_dest=['9.9.9.11', '8.8.4.4']

In [187]:
freq_dest_2=['176.103.130.130', '1.1.1.1','8.8.8.8']

In [188]:
for i in range (0,len(db)):
    if(db['DestinationIP'][i]  in freq_dest_2):
        db['DestinationIP'][i] = 'dest_ip_130_1_8'
    elif(db['DestinationIP'][i] not in freq_dest):
        db['DestinationIP'][i] = 'not_dest_freq'

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/2340093465.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['DestinationIP'][i] = 'not_dest_freq'

In [189]:
destination_dummy=pd.get_dummies(db['DestinationIP'])
destination_dummy

        8.8.4.4  9.9.9.11  not_dest_freq
258520        0         1              0
173476        0         1              0
91894         0         1              0
2969          0         0              1
257094        0         1              0
...         ...       ...            ...
74465         1         0              0
200076        0         1              0
231837        0         0              1
51832         0         0              1
206724        0         1              0

[269643 rows x 3 columns]

In [190]:
destination_dummy = destination_dummy.rename(columns = {"9.9.9.11":"ip_11","8.8.4.4":"ip_4"})

In [191]:
destination_dummy

        ip_4  ip_11  not_dest_freq
258520     0      1              0
173476     0      1              0
91894      0      1              0
2969       0      0              1
257094     0      1              0
...      ...    ...            ...
74465      1      0              0
200076     0      1              0
231837     0      0              1
51832      0      0              1
206724     0      1              0

[269643 rows x 3 columns]

In [192]:
db_create=pd.concat([db_create,destination_dummy], axis = 1)

In [193]:
db['SourcePort'].value_counts()

443      49486
58759       73
41618       60
44886       60
40378       53
         ...
64171        1
65515        1
50809        1
52471        1
50725        1
Name: SourcePort, Length: 15446, dtype: int64

In [194]:
for i in range (0,len(db)):
    if(db['SourcePort'][i] != 443):
        db['SourcePort'][i] = 'Wrong_port'
    else:
        db['SourcePort'][i] = 'port_is_443'

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/2953923313.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['SourcePort'][i] = 'Wrong_port'
C:\Users\laksh\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [195]:
for i in range (0,len(db)):        
    if(db['DestinationPort'][i] != 443):
        db['DestinationPort'][i] = 'Wrong_port'
    else:
        db['DestinationPort'][i] = 'port_443'

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/2614069197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['DestinationPort'][i] = 'port_443'

In [196]:
source_port_dummy = pd.get_dummies(db['SourcePort'])
source_port_dummy

        Wrong_port  port_is_443
258520           1            0
173476           1            0
91894            1            0
2969             0            1
257094           1            0
...            ...          ...
74465            1            0
200076           1            0
231837           0            1
51832            0            1
206724           1            0

[269643 rows x 2 columns]

In [197]:
destination_port_dummy = pd.get_dummies(db['DestinationPort'])
destination_port_dummy

        Wrong_port  port_443
258520           0         1
173476           0         1
91894            0         1
2969             1         0
257094           0         1
...            ...       ...
74465            0         1
200076           0         1
231837           1         0
51832            1         0
206724           0         1

[269643 rows x 2 columns]

In [198]:
destination_port_dummy = destination_port_dummy.rename(columns = {"port_443":"destination_port_443"})
destination_port_dummy

        Wrong_port  destination_port_443
258520           0                     1
173476           0                     1
91894            0                     1
2969             1                     0
257094           0                     1
...            ...                   ...
74465            0                     1
200076           0                     1
231837           1                     0
51832            1                     0
206724           0                     1

[269643 rows x 2 columns]

In [199]:
db_create = pd.concat([db_create,source_port_dummy],axis=1)
db_create = pd.concat([db_create,destination_port_dummy],axis=1)
db_create

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,not_dest_freq,Wrong_port,port_is_443,Wrong_port,destination_port_443
258520,0,0,0,0,0,0,1,0,1,0,1,0,0,1
173476,0,0,0,1,0,0,0,0,1,0,1,0,0,1
91894,0,0,1,0,0,0,0,0,1,0,1,0,0,1
2969,0,0,0,0,0,0,1,0,0,1,0,1,1,0
257094,0,0,0,0,0,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74465,0,0,0,0,0,0,1,1,0,0,1,0,0,1
200076,0,1,0,0,0,0,0,0,1,0,1,0,0,1
231837,0,0,0,0,0,1,0,0,0,1,0,1,1,0
51832,0,0,0,0,0,1,0,0,0,1,0,1,1,0
206724,0,0,0,0,1,0,0,0,1,0,1,0,0,1

In [200]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [201]:
drn_db = db[["Duration"]]
drn_db = sc.fit_transform(drn_db)
drn_db = pd.DataFrame(drn_db)

In [202]:
drn_db = drn_db.rename(columns = {0:"Duration"})

In [203]:
drn_db

        Duration
0      -0.453992
1      -0.450658
2       0.400735
3      -0.283707
4       1.453207
...          ...
269638  1.453247
269639 -0.450505
269640  1.452538
269641  1.466440
269642 -0.451793

[269643 rows x 1 columns]

In [204]:
db_create = pd.concat([db_create,drn_db],axis=1)

In [205]:
db['FlowBytesSent'].value_counts()

1807      44384
1875      15189
1806       7627
1085       7474
1739       7471
          ...
42975         1
54079         1
918704        1
854850        1
74592         1
Name: FlowBytesSent, Length: 72805, dtype: int64

In [206]:
fs = db[['FlowBytesSent']]

In [207]:
fs.mean()

FlowBytesSent    65757.889977
dtype: float64

In [208]:
fs.median()

FlowBytesSent    1807.0
dtype: float64

In [209]:
fs.mode()

   FlowBytesSent
0           1807

In [210]:
for i in range (0,len(db)):
    if(db['FlowBytesSent'][i] == 1807):
        db['FlowBytesSent'][i] = 'fs_1807'
    elif(db['FlowBytesSent'][i] >= 1810):
        db['FlowBytesSent'][i] = 'fsless'
    else:
        db['FlowBytesSent'][i] = 'fs_more'

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/88205198.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['FlowBytesSent'][i] = 'fsless'
C:\Users\laksh\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [211]:
fs_dummy = pd.get_dummies(db['FlowBytesSent'])

In [212]:
destination_port_dummy.head()

        Wrong_port  destination_port_443
258520           0                     1
173476           0                     1
91894            0                     1
2969             1                     0
257094           0                     1

In [213]:
db_create = pd.concat([db_create,fs_dummy],axis=1)

In [214]:
fs_r = db[["FlowSentRate"]]

In [215]:
fs_r = sc.fit_transform(fs_r)

In [216]:
fs_r = pd.DataFrame(fs_r)

In [56]:
fs_r = fs_r.rename(columns = {0:"FlowSentRate"})

In [217]:
fs_r

               0
0      -0.047432
1      -0.047433
2      -0.037950
3      -0.044438
4      -0.032280
...          ...
269638 -0.041226
269639 -0.047445
269640 -0.010849
269641 -0.044152
269642 -0.047432

[269643 rows x 1 columns]

In [218]:
db_create = pd.concat([db_create,fs_r],axis=1)

In [219]:
db["FlowBytesReceived"][115] = 0

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/1876215941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db["FlowBytesReceived"][115] = 0

In [220]:
frec = db[['FlowBytesReceived']]

In [221]:
frec.mean()

FlowBytesReceived    67362.488946
dtype: float64

In [222]:
frec.median()

FlowBytesReceived    4896.0
dtype: float64

In [223]:
for i in range (0,len(db)):
    if(isinstance(db['FlowBytesReceived'][i], str)):
        db['FlowBytesReceived'][i] = 0
        
    if(db['FlowBytesReceived'][i] == 98):
        db['FlowBytesReceived'][i] = 'fr_98'
    elif(db['FlowBytesReceived'][i] > 4900):
        db['FlowBytesReceived'][i] = 'fr_more'
    else:
        db['FlowBytesReceived'][i] = 'fr_less'

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/930559239.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['FlowBytesReceived'][i] = 'fr_more'
C:\Users\laksh\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [224]:
frec_dummies = pd.get_dummies(db['FlowBytesReceived'])

In [225]:
bd_create = pd.concat([db_create,frec_dummies],axis=1)

In [226]:
frc = db[["FlowReceivedRate"]]
frc = sc.fit_transform(frc)
frc = pd.DataFrame(frc)

In [227]:
frc = frc.rename(columns = {0:"FlowRecvRate"})

In [228]:
db_create = pd.concat([db_create,frc],axis=1)

In [229]:
plv = db[["PacketLengthVariance"]]
plv = sc.fit_transform(plv)
plv = pd.DataFrame(plv)

In [230]:
plv = plv.rename(columns = {0:"Pcket_lenVar"})

In [231]:
db_create = pd.concat([db_create,plv],axis=1)

In [234]:
plsd = db[["PacketLengthStandardDeviation"]]
plsd = sc.fit_transform(plsd)
plsd = pd.DataFrame(plsd)
plsd

               0
0       0.386495
1       0.385869
2      -0.802091
3      -1.229523
4      -0.892418
...          ...
269638 -1.017822
269639  1.344243
269640 -1.011811
269641 -1.267542
269642  0.412386

[269643 rows x 1 columns]

In [235]:
plsd = plsd.rename(columns = {0:"Length_std"})
plsd

        Length_std
0         0.386495
1         0.385869
2        -0.802091
3        -1.229523
4        -0.892418
...            ...
269638   -1.017822
269639    1.344243
269640   -1.011811
269641   -1.267542
269642    0.412386

[269643 rows x 1 columns]

In [236]:
db_create = pd.concat([db_create,plsd],axis=1)

In [237]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthMean'][i], str)):
        df['PacketLengthMean'][i] = 0

In [238]:
plm = db[['PacketLengthMean']]
plm = sc.fit_transform(plm)
plm = pd.DataFrame(plm)

In [239]:
plm = plm.rename(columns = {0:"Length_mean"})

In [240]:
db_create = pd.concat([db_create,plm],axis=1)

In [241]:
db_temp_half = db_create

In [242]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthMedian'][i], str)):
        db['PacketLengthMedian'][i] = 0

In [243]:
pl_med = db[['PacketLengthMedian']]

In [244]:
pl_med = sc.fit_transform(pl_med)
pl_med = pd.DataFrame(pl_med)

In [245]:
pl_med = pl_med.rename(columns = {0:"L_median"})

In [246]:
db_create = pd.concat([db_create,pl_med],axis=1)

In [247]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthMode'][i], str)):
        db['PacketLengthMode'][i] = 0

In [248]:
pl_mode = db[['PacketLengthMode']]
pl_mode = sc.fit_transform(pl_mode)
pl_mode = pd.DataFrame(pl_mode)

In [249]:
pl_mode = pl_mode.rename(columns = {0:"L_mode"})

In [250]:
db_create = pd.concat([db_create,pl_mode],axis=1)

In [251]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthSkewFromMedian'][i], str)):
        db['PacketLengthSkewFromMedian'][i] = 0

In [252]:
s_med = db[['PacketLengthSkewFromMedian']]
s_med = sc.fit_transform(s_med)
s_med = pd.DataFrame(s_med)

In [253]:
s_med = s_med.rename(columns = {0:"s_median"})

In [254]:
db_create = pd.concat([db_create,s_med],axis=1)

In [255]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthSkewFromMode'][i], str)):
        db['PacketLengthSkewFromMode'][i] = 0

In [256]:
s_mode = db[['PacketLengthSkewFromMode']]
s_mode = sc.fit_transform(s_mode)
s_mode = pd.DataFrame(s_mode)

In [257]:
s_mode = s_mode.rename(columns = {0:"s_mode"})

In [258]:
db_create = pd.concat([db_create,s_mode],axis=1)

In [259]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthCoefficientofVariation'][i], str)):
        db['PacketLengthCoefficientofVariation'][i] = 0

In [282]:
plcv = db[['PacketLengthCoefficientofVariation']]
plcv = sc.fit_transform(plcv)
plcv = pd.DataFrame(plcv)
plcv

               0
0       0.622216
1       0.621742
2      -0.779823
3      -1.247129
4      -1.142320
...          ...
269638 -0.816558
269639  1.660068
269640 -0.828695
269641 -1.341333
269642  0.596291

[269643 rows x 1 columns]

In [286]:
plcv = plcv.rename(columns = {0:"PLCV"})
plcv

            PLCV
0       0.622216
1       0.621742
2      -0.779823
3      -1.247129
4      -1.142320
...          ...
269638 -0.816558
269639  1.660068
269640 -0.828695
269641 -1.341333
269642  0.596291

[269643 rows x 1 columns]

In [287]:
db_create = pd.concat([db_create,plcv],axis=1)

In [288]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeVariance'][i], str)):
        db['PacketTimeVariance'][i] = 0

In [289]:
ptv = db[['PacketTimeVariance']]
ptv = sc.fit_transform(ptv)
ptv = pd.DataFrame(ptv)

In [290]:
ptv = ptv.rename(columns = {0:"PTV"})

In [291]:
db_create = pd.concat([db_create,ptv],axis=1)

In [292]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeStandardDeviation'][i], str)):
        db['PacketTimeStandardDeviatione'][i] = 0

In [293]:
pt_std = db[['PacketTimeStandardDeviation']]
pt_std = sc.fit_transform(pt_std)
pt_std = pd.DataFrame(pt_std)

In [294]:
pt_std = pt_std.rename(columns = {0:"PT_std"})
db_create = pd.concat([db_create,pt_std],axis=1)

In [295]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeMean'][i], str)):
        db['PacketTimeMean'][i] = 0
        
pt_mean = db[['PacketTimeMean']]
pt_mean = sc.fit_transform(pt_mean)
pt_mean = pd.DataFrame(pt_mean)

In [296]:
pt_mean = pt_mean.rename(columns = {0:"PT_mean"})
db_create = pd.concat([db_create,pt_mean],axis=1)

In [297]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeMedian'][i], str)):
        db['PacketTimeMedian'][i] = 0
        
pt_med = db[['PacketTimeMedian']]
pt_med = sc.fit_transform(pt_med)
pt_med = pd.DataFrame(pt_med)

In [298]:
pt_med = pt_med.rename(columns = {0:"PT_median"})
db_create = pd.concat([db_create,pt_med],axis=1)

In [299]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeMode'][i], str)):
        db['PacketTimeMode'][i] = 0
        
packt_time_mode = db[['PacketTimeMode']]
packt_time_mode = sc.fit_transform(packt_time_mode)
packt_time_mode = pd.DataFrame(packt_time_mode)

In [300]:
packt_time_mode = packt_time_mode.rename(columns = {0:"Packt_Time_mode"})
db_create = pd.concat([db_create,packt_time_mode],axis=1)

In [301]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeSkewFromMedian'][i], str)):
        db['PacketTimeSkewFromMedian'][i] = 0
        
s_med_time = db[['PacketTimeSkewFromMedian']]
s_med_time = sc.fit_transform(s_med_time)
s_med_time = pd.DataFrame(s_med_time)

In [302]:
s_med_time = s_med_time.rename(columns = {0:"s_med_time"})
dfb_create = pd.concat([db_create,s_med_time],axis=1)

In [303]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeSkewFromMode'][i], str)):
        db['PacketTimeSkewFromMode'][i] = 0
        
s_mode_time = db[['PacketTimeSkewFromMode']]
s_mode_time = sc.fit_transform(s_mode_time)
s_mode_time = pd.DataFrame(s_mode_time)

In [304]:
s_mode_time = s_mode_time.rename(columns = {0:"s_mode_time"})

In [305]:
db_create = pd.concat([db_create,s_mode_time],axis=1)

In [306]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeCoefficientofVariation'][i], str)):
        db['PacketTimeCoefficientofVariation'][i] = 0
        
pkt_cov_time = db[['PacketTimeCoefficientofVariation']]
pkt_cov_time = sc.fit_transform(pkt_cov_time)
pkt_cov_time = pd.DataFrame(pkt_cov_time)

In [307]:
pjt_cov_time = pkt_cov_time.rename(columns = {0:"pkt_cov_time"})
db_create = pd.concat([db_create,pkt_cov_time],axis=1)

In [308]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeVariance'][i], str)):
        db['ResponseTimeTimeVariance'][i] = 0
        
r_time_var = db[['ResponseTimeTimeVariance']]
r_time_var = sc.fit_transform(r_time_var)
r_time_var = pd.DataFrame(r_time_var)

In [309]:
r_time_var = r_time_var.rename(columns = {0:"r_time_var"})
db_create = pd.concat([db_create,r_time_var],axis=1)

In [310]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeStandardDeviation'][i], str)):
        db['ResponseTimeTimeStandardDeviation'][i] = 0
        
r_time_std = db[['ResponseTimeTimeStandardDeviation']]
r_time_std = sc.fit_transform(r_time_std)
r_time_std = pd.DataFrame(r_time_std)

In [311]:
r_time_std = r_time_std.rename(columns = {0:"r_time_std"})

In [312]:
db_create = pd.concat([db_create,r_time_std],axis=1)

In [313]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeMean'][i], str)):
        db['ResponseTimeTimeMean'][i] = 0

In [314]:
r_time_mean = db[['ResponseTimeTimeMean']]
r_time_mean = sc.fit_transform(r_time_mean)
r_time_mean = pd.DataFrame(r_time_mean)

In [315]:
r_time_mean = r_time_mean.rename(columns = {0:"r_time_mean"})

In [316]:
db_create = pd.concat([db_create,r_time_mean],axis=1)

In [317]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeMedian'][i], str)):
        db['ResponseTimeTimeMedian'][i] = 0
        
r_time_med = db[['ResponseTimeTimeMedian']]
r_time_med = sc.fit_transform(r_time_med)
r_time_med = pd.DataFrame(r_time_med)

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/3128067722.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['ResponseTimeTimeMedian'][i] = 0

In [318]:
r_time_med = r_time_med.rename(columns = {0:"r_time_med"})
db_create = pd.concat([db_create,r_time_med],axis=1)

In [319]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeMode'][i], str)):
        db['ResponseTimeTimeMode'][i] = 0
        
r_time_mode = db[['ResponseTimeTimeMode']]
r_time_mode = sc.fit_transform(r_time_mode)
r_time_mode = pd.DataFrame(r_time_mode)

In [320]:
r_time_mode = r_time_mode.rename(columns = {0:"r_time_mode"})
db_create = pd.concat([db_create,r_time_mode],axis=1)

In [321]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeSkewFromMedian'][i], str)):
        db['ResponseTimeTimeSkewFromMedian'][i] = 0
        
r_s_med_time = db[['ResponseTimeTimeSkewFromMedian']]
r_s_med_time = sc.fit_transform(r_s_med_time)
r_s_med_time = pd.DataFrame(r_s_med_time)

C:\Users\laksh\AppData\Local\Temp/ipykernel_7480/2213183745.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['ResponseTimeTimeSkewFromMedian'][i] = 0

In [134]:
r_s_med_time = r_s_med_time.rename(columns = {0:"r_s_med_time"})
db_create = pd.concat([db_create,r_s_med_time],axis=1)

In [135]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeSkewFromMode'][i], str)):
        db['ResponseTimeTimeSkewFromMode'][i] = 0

In [136]:
r_s_mode_time = db[['ResponseTimeTimeSkewFromMode']]
r_s_mode_time = sc.fit_transform(r_s_mode_time)
r_s_mode_time = pd.DataFrame(r_s_mode_time)

In [137]:
r_s_mode_time = r_s_mode_time.rename(columns = {0:"r_s_mode_time"})
db_create = pd.concat([db_create,r_s_mode_time],axis=1)

In [138]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeCoefficientofVariation'][i], str)):
        db['ResponseTimeTimeCoefficientofVariation'][i] = 0

In [139]:
r_c_time = db[['ResponseTimeTimeCoefficientofVariation']]
r_c_time = sc.fit_transform(r_c_time)
r_c_time = pd.DataFrame(r_c_time)

In [140]:
r_c_time = r_c_time.rename(columns = {0:"r_c_time"})
db_create = pd.concat([db_create,r_c_time],axis=1)

In [141]:
labels = pd.get_dummies(db['Label'])

In [142]:
db_create = pd.concat([db_create,labels],axis=1)

In [143]:
db.dtypes['FlowReceivedRate']

dtype('float64')

In [144]:
db_create.to_csv(r'C:\Users\laksh\NIDS_Prediction\Total_CSVs\final_data_input_FINAL_Final.csv')

In [145]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign,Malicious
0,0,0,0,0,0,0,1,0,0,0,...,-0.178935,-0.242217,-0.237193,-0.218589,-0.159629,-0.807492,0.773925,-0.388178,1,0
1,0,0,0,0,0,0,1,0,0,0,...,-0.178930,-0.240318,-0.239660,-0.221809,-0.159613,-0.153837,0.146645,-0.157056,1,0
2,0,0,0,0,0,0,1,0,0,0,...,-0.156441,0.115037,-0.217159,-0.221747,-0.159634,0.447061,-0.399077,2.175369,1,0
3,0,0,0,0,0,0,1,0,0,0,...,-0.178938,-0.243053,-0.241114,-0.225992,-0.159633,1.398031,0.092140,-0.112256,1,0
4,0,0,0,0,0,0,1,0,0,0,...,-0.178946,-0.250232,5.245053,4.540288,6.300846,-5.075614,-7.198931,-0.632209,1,0

In [146]:
db_create.drop('Malicious' , axis=1)

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,0,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign
0,0,0,0,0,0,0,1,0,0,0,...,-1.135513,-0.178935,-0.242217,-0.237193,-0.218589,-0.159629,-0.807492,0.773925,-0.388178,1
1,0,0,0,0,0,0,1,0,0,0,...,-0.882221,-0.178930,-0.240318,-0.239660,-0.221809,-0.159613,-0.153837,0.146645,-0.157056,1
2,0,0,0,0,0,0,1,0,0,0,...,0.200209,-0.156441,0.115037,-0.217159,-0.221747,-0.159634,0.447061,-0.399077,2.175369,1
3,0,0,0,0,0,0,1,0,0,0,...,-0.788347,-0.178938,-0.243053,-0.241114,-0.225992,-0.159633,1.398031,0.092140,-0.112256,1
4,0,0,0,0,0,0,1,0,0,0,...,-0.678286,-0.178946,-0.250232,5.245053,4.540288,6.300846,-5.075614,-7.198931,-0.632209,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269638,1,0,0,0,0,0,0,0,0,0,...,0.748533,-0.178941,-0.244679,-0.239679,-0.221606,-0.159583,-0.624305,0.650562,-0.364881,0
269639,1,0,0,0,0,0,0,0,0,0,...,-1.119040,-0.178929,-0.240170,-0.238542,-0.218699,-0.159629,-1.036147,0.308279,-0.249549,0
269640,1,0,0,0,0,0,0,0,0,0,...,1.888898,-0.178946,-0.250202,-0.243936,-0.226444,-0.159625,0.234809,0.157984,-0.356937,0
269641,1,0,0,0,0,0,0,0,0,0,...,0.900145,-0.178939,-0.243902,-0.240051,-0.221605,-0.159626,-0.732100,0.427483,-0.298511,0
269642,1,0,0,0,0,0,0,0,0,0,...,-1.051665,-0.178929,-0.240134,-0.238340,-0.219059,-0.159630,-0.810333,0.335843,-0.261945,0

In [147]:
db_create['Benign'] = db_create['Benign'].replace(['1'],'Benign')
db_create['Benign'] = db_create['Benign'].replace (['0'],'Malicious')

In [148]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign,Malicious
0,0,0,0,0,0,0,1,0,0,0,...,-0.178935,-0.242217,-0.237193,-0.218589,-0.159629,-0.807492,0.773925,-0.388178,1,0
1,0,0,0,0,0,0,1,0,0,0,...,-0.178930,-0.240318,-0.239660,-0.221809,-0.159613,-0.153837,0.146645,-0.157056,1,0
2,0,0,0,0,0,0,1,0,0,0,...,-0.156441,0.115037,-0.217159,-0.221747,-0.159634,0.447061,-0.399077,2.175369,1,0
3,0,0,0,0,0,0,1,0,0,0,...,-0.178938,-0.243053,-0.241114,-0.225992,-0.159633,1.398031,0.092140,-0.112256,1,0
4,0,0,0,0,0,0,1,0,0,0,...,-0.178946,-0.250232,5.245053,4.540288,6.300846,-5.075614,-7.198931,-0.632209,1,0

In [149]:
db_create.drop('Malicious' , inplace=True , axis=1)

In [150]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,0,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign
0,0,0,0,0,0,0,1,0,0,0,...,-1.135513,-0.178935,-0.242217,-0.237193,-0.218589,-0.159629,-0.807492,0.773925,-0.388178,1
1,0,0,0,0,0,0,1,0,0,0,...,-0.882221,-0.178930,-0.240318,-0.239660,-0.221809,-0.159613,-0.153837,0.146645,-0.157056,1
2,0,0,0,0,0,0,1,0,0,0,...,0.200209,-0.156441,0.115037,-0.217159,-0.221747,-0.159634,0.447061,-0.399077,2.175369,1
3,0,0,0,0,0,0,1,0,0,0,...,-0.788347,-0.178938,-0.243053,-0.241114,-0.225992,-0.159633,1.398031,0.092140,-0.112256,1
4,0,0,0,0,0,0,1,0,0,0,...,-0.678286,-0.178946,-0.250232,5.245053,4.540288,6.300846,-5.075614,-7.198931,-0.632209,1

In [151]:
db_create.to_csv(r'C:\Users\laksh\NIDS_Prediction\Total_CSVs\final_data_input_FINAL_Semifinal.csv')

In [152]:
db_create['Benign'] = db_create['Benign'].replace(['1'],'Benign')
db_create['Benign'] = db_create['Benign'].replace (['0'],'Malicious')

In [153]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,0,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign
0,0,0,0,0,0,0,1,0,0,0,...,-1.135513,-0.178935,-0.242217,-0.237193,-0.218589,-0.159629,-0.807492,0.773925,-0.388178,1
1,0,0,0,0,0,0,1,0,0,0,...,-0.882221,-0.178930,-0.240318,-0.239660,-0.221809,-0.159613,-0.153837,0.146645,-0.157056,1
2,0,0,0,0,0,0,1,0,0,0,...,0.200209,-0.156441,0.115037,-0.217159,-0.221747,-0.159634,0.447061,-0.399077,2.175369,1
3,0,0,0,0,0,0,1,0,0,0,...,-0.788347,-0.178938,-0.243053,-0.241114,-0.225992,-0.159633,1.398031,0.092140,-0.112256,1
4,0,0,0,0,0,0,1,0,0,0,...,-0.678286,-0.178946,-0.250232,5.245053,4.540288,6.300846,-5.075614,-7.198931,-0.632209,1

In [154]:
db_create['Benign'] = db_create['Benign'].replace(['1'],"Benign")
db_create['Benign'] = db_create['Benign'].replace (['0'],"Malicious")

In [155]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,0,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign
0,0,0,0,0,0,0,1,0,0,0,...,-1.135513,-0.178935,-0.242217,-0.237193,-0.218589,-0.159629,-0.807492,0.773925,-0.388178,1
1,0,0,0,0,0,0,1,0,0,0,...,-0.882221,-0.178930,-0.240318,-0.239660,-0.221809,-0.159613,-0.153837,0.146645,-0.157056,1
2,0,0,0,0,0,0,1,0,0,0,...,0.200209,-0.156441,0.115037,-0.217159,-0.221747,-0.159634,0.447061,-0.399077,2.175369,1
3,0,0,0,0,0,0,1,0,0,0,...,-0.788347,-0.178938,-0.243053,-0.241114,-0.225992,-0.159633,1.398031,0.092140,-0.112256,1
4,0,0,0,0,0,0,1,0,0,0,...,-0.678286,-0.178946,-0.250232,5.245053,4.540288,6.300846,-5.075614,-7.198931,-0.632209,1

In [156]:
db_create['Benign'] = db_create['Benign'].replace([1],'Benign')
db_create['Benign'] = db_create['Benign'].replace ([0],'Malicious')

In [157]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,0,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign
0,0,0,0,0,0,0,1,0,0,0,...,-1.135513,-0.178935,-0.242217,-0.237193,-0.218589,-0.159629,-0.807492,0.773925,-0.388178,Benign
1,0,0,0,0,0,0,1,0,0,0,...,-0.882221,-0.178930,-0.240318,-0.239660,-0.221809,-0.159613,-0.153837,0.146645,-0.157056,Benign
2,0,0,0,0,0,0,1,0,0,0,...,0.200209,-0.156441,0.115037,-0.217159,-0.221747,-0.159634,0.447061,-0.399077,2.175369,Benign
3,0,0,0,0,0,0,1,0,0,0,...,-0.788347,-0.178938,-0.243053,-0.241114,-0.225992,-0.159633,1.398031,0.092140,-0.112256,Benign
4,0,0,0,0,0,0,1,0,0,0,...,-0.678286,-0.178946,-0.250232,5.245053,4.540288,6.300846,-5.075614,-7.198931,-0.632209,Benign

In [158]:
db_create.to_csv(r'C:\Users\laksh\NIDS_Prediction\Total_CSVs\NIDS_Dataset.csv')